:root {
  --main-bg-color: rgb(24, 46, 61);
  --primary-color: rgb(116, 175, 217);
  --secondary-color: rgb(169, 222, 242);
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Oswald", sans-serif;
  scroll-behavior: smooth;
}

#__next {
  background-color: rgb(24, 46, 61);
}

section {
  scroll-margin-top: 400px;
}

*,*::before,*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

#__next {
  width: 100%;
}

