:root {
  --main-bg-color: rgb(24, 46, 61);
  --primary-color: rgb(116, 175, 217);
  --secondary-color: rgb(169, 222, 242);
}

html,
body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
}