.contentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color);
  font-size: 100px;
  color: var(--primary-color);
  height: 1000px;
  padding: 20px 50px;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(24, 46, 61);
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(24, 46, 61);
}

.footerLogo img {
  height: 30px;
}

.headerLogo {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.headerLogo img {
  height: 175px;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(24, 46, 61);
}

.nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  margin-top: 30px;
}

.nav ul li {
  margin-left: 30px;
}

.nav ul li a {
  text-decoration: none;
  color: rgb(116, 175, 217);
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.nav ul li a:hover {
  color: rgb(169, 222, 242);
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.socialIcons a {
  text-decoration: none;
  color: rgb(116, 175, 217);
  margin: 0 15px;
  font-size: 24px;
  transition: color 0.3s ease; 
}

.socialIcons a:hover {
  color: rgb(169, 222, 242);
}